/node_modules
/vendor

/public/hot
/public/storage
/public/css
/public/js

/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


/docs/outline.md
/docs/summary.md

/resources/views/master.blade copy.php
